@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #737373;
}

@theme {
    --color-primary: #1BA665;
    --color-secondary: #22F291;
    --color-tertiary: #1BF2A3;
    --color-bggrey: #737373;
    --color-bgblack: #0D0D0D;
}

h1 {
  font-family: var(--font-space-mono), monospace;
  color: #1BF2A3;
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-space-mono), monospace;
  color: #1BF2A3;
  font-size: 2rem;
}

h3 {
  font-family: var(--font-space-mono), monospace;
  color: #1BF2A3;
  font-size: 1.5rem;
}

body {
  background: #737373;
  font-family: "Space Mono", monospace;
}

header {
  background: #0D0D0D;
  color: #1BF2A3;
  padding: 1rem;
}

.letterbox {
  margin-top: auto;
  color: #1BA665;
  background: #0D0D0D;
  padding: 1rem;
}

.bild {
  display: block;
  transition: transform 0.3s ease;
  filter: brightness(0.75) contrast(0.95);
  object-fit: cover;
}

.bild:hover {
  transform: scale(1.03);
}
