@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #1BF2A3;
}

@theme {
    --color-primary: #1BF2A3;
    --color-gray: #737373;
    --color-black: #0D0D0D;
}


h1 {
  font-family: var(--font-space-mono), monospace;
  color: var(--color-primary);
  font-size: 3rem;
}

h2 {
  font-family: var(--font-space-mono), monospace;
  color: var(--color-primary);
  font-size: 2rem;
}

h3 {
  font-family: var(--font-space-mono), monospace;
  color: var(--color-primary);
  font-size: 1.8rem;
}

.untertitel {
  font-family: var(--font-space-mono), monospace;
  color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
}

body {
  background: var(--color-black);
  font-family: "Space Mono", monospace;
}

header {
  background: var(--color-black);
  color: var(--color-primary);
  padding: 1rem;
}

footer {
  background: var(--color-black);
  color: var(--color-primary);
  padding: 1rem;
}

.bild {
  display: block;
  transition: transform 0.3s ease;
  filter: brightness(0.75) contrast(0.95);
  object-fit: cover;
}

.bild:hover {
  /* transform: scale(1.03); */
}

